html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

body{
    background-color: cornflowerblue; /* colores_por_nombre */

}

@media (min-width: 500px){
    body{
        background-color: red;
    }
}

@media (min-width: 800px){
    body{
        background-color: aquamarine;
    }
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}

@media(min-width: 600px){
    h1{
        font-size: 4rem; /* tip cambiar solo las propiedades que se necesiten cambiar*/ 
    }
}