html{
    font-size: 62.5%; /** Reset para REMS - 62.5% = a 10px de 16px **/
/*Box Sizing*/
    box-sizing: border-box;
}

*, *:before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-color: rgb(18, 50, 77);
}

/** GLOBALES **/

h3{
    margin: 195px 0 0 0;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    background-color: rgb(18, 50, 77);
}

h1,h3{
    display: block;
    background-color: rgb(21, 78, 124);
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: blond;
    text-transform: uppercase;
}

a{
    display: block;
    background-color: rgb(18, 50, 77);
    color: white;
    padding: 5px 70px;
    text-decoration: none;
    font-weight: lighter;
    text-transform: uppercase;
}

@media (min-width: 768px){  /* aplicado al tamaño estandar de una tablet */
    .dos-columnas{
        /* Division del contenido en dos columnas */
        display: grid; /* Se aplica al primer nivel de hijos */
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 50% 50%;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem; /* Separacion entre las divisiones del contenido de 20px creo */
        background-color: rgb(18, 50, 77);
    }
}

@media(min-width:480px){
    .column-drop-css{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        gap: 1rem;
    }
    .segunda{
        grid-column: 1 / 3;
    }
}

@media(min-width:768px){
    .column-drop-css{
        grid-template-columns: repeat(3, 1fr);
    }
    .segunda{
        grid-column: 3 / 4;
    }
}