html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width:480px){ /* Tamaño de telefono mediano :P */
    .dos-columnas {
        display: flex;
        justify-content: space-between;
    }
    
    .entrada-blog {
        flex-basis: 50%;
        flex-basis: calc(50% - 1rem);
    }
}
.tittle{
    display: block;
    background-color: rgb(21, 78, 124);
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: blond;
    text-transform: uppercase;
}