html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

p {
    font-size: 2rem;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

@media(min-width: 768px){
    .contenedor-grid{
        display: grid;
        grid-template-columns:  60% 20% 20%;
        /* Lo mismo que en el de arriba se divide en 5 
        y se dan 3 para la primera parte 
        y el resto se divide en 2 */
        grid-template-columns:  3fr repeat(2, 1fr);
        /* aca se tiene mas control de la parte que 
        queremos mas grande */
        grid-template-columns:  700px repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.tittle{
    display: block;
    background-color: rgb(21, 78, 124);
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: blond;
    text-transform: uppercase;
}