html{
    font-size: 62.5%; /** Reset para REMS - 62.5% = a 10px de 16px **/
/*Box Sizing*/
    box-sizing: border-box;
}

*, *:before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** GLOBALES **/

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;/* =1200px */
    /*margin: 0(top) auto(right) 0(botom) auto(left); another way to define margin conf*/
    /*margin-left: auto;
    margin-right: auto;*/
    margin: 0 auto;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.6rem;
}

/** Utilidades **/

.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300{
    font-weight: 300;
}

.centrar-texto{
    text-align: center;
}

.d-block{
    display: block!important;
}

.contenido-centrado{
    max-width: 800px;
}

/** Buttons **/
.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.boton-amarillo{
    background-color: #E08709;
}

.boton-verde{
    background-color: #71B100;
}

/* Header */
.site-header{
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header{
    height: 100%;/*utiliza el 100% del espacio utilizable*/
    display: flex;
    flex-direction: column;/*direccion en la que flex va a ordenar los elemtos*/
    /*justify-content: cambia la direccion por flex-direction*/
    justify-content: space-between;
}

.contenido-header h1{
 color: white;
 padding-bottom: 2rem;/* Espacio hacia adentro del elemento desde la posición que se especifica */
 max-width: 60rem;
 line-height: 1.7;/*interlineado*/
}

.barra{
    display: flex; /*usa Flexbox como parametro de alineacion IDK*/
    /*justify-content: Horizontalmante*/
    justify-content: space-between;/*propiedades: flex-end(derecha) flex-start(izquierda) center space% */
    /*align-items: verticalmente*/
    align-items: center;
    padding-top: 3rem;
}

/*NAVEGACION*/
.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;/* esto es igual a 18 px */
    margin-right: 2rem;
    align-items: center;
}
.navegacion a:last-of-type{  /* las-of- type pseudo selectores*/
    margin: 0;
}
.navegacion a:hover{
    color: #71B100;
}

/* Iconos Nosotros*/

.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}

.icono{
    flex-basis: calc(33.3% - 1rem);/* Realiza el calculo o una operación */
    text-align: center;/* Centrar texto e imagenes*/
}

.icono h3{
    text-transform: uppercase;
}

/** ANUNCIOS **/

.contenedor-anuncio{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.anuncio{
    flex: 0 0 calc(33.3% - 1rem);/* parametro 1 GROW parametro 2 SHRINK parametro 3 BASE */
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
    border-style: solid;
    border-color: #B5B5B5;
    border-width: 1px;
    border: 1px solid #B5B5B5;
    background: #f5f5f5;
    margin-bottom: 2rem;
}

.contenido-anuncio{
    padding: 2rem;
}

.contenedor-anuncio h3,
 .contenedor-anuncio p{
    margin: 0;
}

.precio{
    color: #71B100;
    font-weight: 700;
}

.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}
.iconos-caracteristicas li{
    /*flex: 1;*/
    display: flex;
}
.iconos-caracteristicas li img{
    margin-right: 2rem;
}

.ver-todas{
    display: flex;
    justify-content: end;   
}
/** CONTACTO HOME **/
.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;

    align-items: center;

}
.contenido-contacto{
    flex: 1;/*factor de crecimiento asigna tamaño a el espacio disponible*/
    color: #ffffff;
}
.contenido-contacto p{
    font-size: 1.8rem;
}

/* SECCIÓN INFERIOR */

.seccion-inferior{
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog{
    flex-basis: 60%;
}

.seccion-inferior .testimoniales{
    flex-basis: calc(40% - 2rem);
}

.entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.entrada-blog:last-of-type{
    margin-bottom: 0;
}

.entrada-blog .imagen{
    flex-basis: 40%;
}

.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem);
}

.texto-entrada a{
    color:#000000;
    text-decoration: none;
}

.texto-entrada h4{
    margin: 0;
    line-height: 1.4;
}
 
.texto-entrada h4::after{
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;

    margin-top: 1rem;
}

.texto-entrada span{
    color: #E08709;
}

/** Testimoniales **/
.testimonial{
    background-color: #71B100;
    font-size: 2.4rem;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
}

.testimonial p{
    text-align: right;
}

.testimonial blockquote::beffore{
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    display: block;
    position: absolute;
    top:0;
    left: -2rem;
}

.testimonial blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

/** FOOTER **/
.site-footer{
    background-color: #333333;
    margin: 0;
}

.contenedor-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copyleft{
    margin: 0;
    color: white;
}

/** PAGINAS INTERNAS DEL SITIO WEB **/
            /*Nosotros*/
.contenido-nosotros{
    display: grid;
    /* diferntes formas de poner o dividir la grilla de la pagina web */
    grid-template-columns: 50% 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(2,50%);
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2rem;
}
.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 0 0 3rem 0;
}

            /*Anuncio*/
.resumen-propiedad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

            /**Contacto**/
.contacto p{
    font-size: 1.5rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}

legend{
    font-size: 2.4rem;
    color: #4f4f4f;
}

label{
    font-weight: 700;
    text-transform: uppercase;
    display: block; /* toma todo el espacio disponible */
}

input:not([type="submit"]),textarea{ /*Excluye un input de tipo SUBMIT*/
    padding: 1rem ;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="radio"]{
    width: auto;
}

select{
    -webkit-appearance: none;
    appearance: none;
}

textarea{
    height: 20rem;
}

.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}