html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 768px){  /* aplicado al tamaño estandar de una tablet */
    .dos-columnas{
        /* Division del contenido en dos columnas */
        display: grid; /* Se aplica al primer nivel de hijos */
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 50% 50%;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem; /* Separacion entre las divisiones del contenido de 20px creo */
    }
}

.tittle{
    display: block;
    background-color: rgb(21, 78, 124);
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: blond;
    text-transform: uppercase;
}